/* @import url("https://fonts.google.com/specimen/Kumbh+Sans"); */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* background gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --bg-white: #fff;

  /* dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* font */
  --font-fam-kumbh-sans: "Kumbh Sans", Times;
  --font-size-10: 62.5%; /* 10px */
  --font-weight-400: 400;
  --font-weight-700: 700;
  --hover-color: rgb(244, 123, 86);
}

html {
  font-family: var(--font-fam-kumbh-sans);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-400);
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  /* to center the main content & footer */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

footer {
  color: #fff;
  text-align: center;
}

.attribution a {
  color: #fff;
  text-decoration: none;
}

/* ================= ================= =================
  ================= below is animatio pure css =================
   ================= ================= ================= */

input[type="checkbox"] {
  display: none;
}

/* ================= question turn bold  =================*/
.question:hover {
  cursor: pointer;
  color: var(--hover-color);
}

#q1:checked ~ .faq_container .acc1 .question,
#q2:checked ~ .faq_container .acc2 .question,
#q3:checked ~ .faq_container .acc3 .question,
#q4:checked ~ .faq_container .acc4 .question,
#q5:checked ~ .faq_container .acc5 .question {
  font-weight: var(--font-weight-700);
  z-index: 17;
}

/* ================= arrow animation ================= */
.icon_arrow {
  height: 1rem;
  width: 1rem;
}

.icon_arrow {
  animation: arrowDown 250ms ease-in-out;
  animation-fill-mode: forwards;
}

.arrow:hover {
  cursor: pointer;
}

#q1:checked ~ .faq_container .acc1 .icon_arrow,
#q2:checked ~ .faq_container .acc2 .icon_arrow,
#q3:checked ~ .faq_container .acc3 .icon_arrow,
#q4:checked ~ .faq_container .acc4 .icon_arrow,
#q5:checked ~ .faq_container .acc5 .icon_arrow {
  animation: arrowUp 350ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes arrowDown {
  0% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes arrowUp {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

/* ================= answer animation ================= */
.answer {
  animation: closeAnswer 250ms ease;
  animation-fill-mode: forwards;
}

#q1:checked ~ .faq_container .acc1 .answer,
#q2:checked ~ .faq_container .acc2 .answer,
#q3:checked ~ .faq_container .acc3 .answer,
#q4:checked ~ .faq_container .acc4 .answer,
#q5:checked ~ .faq_container .acc5 .answer {
  animation: openAnswer 350ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes openAnswer {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes closeAnswer {
  0% {
    opacity: 1;
    height: auto;
  }

  90% {
    opacity: 0.1;
    height: auto;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
