/* (min-width:1560px) and (max-width:2560px) */

.container {
  padding: 0 15rem;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background-color: var(--bg-white);
  border-radius: 2rem;
  box-shadow: 3rem 3rem 10rem rgba(0, 0, 0, 0.5);
}

.mobile .woman {
  display: none;
}

.image_holder {
  /* to center the photo */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75rem;
}

.image_holder .mobile {
  background-image: url("../images/illustration-woman-online-desktop.svg"),
    url("../images/bg-pattern-desktop.svg");
  background-position: top 7rem left -12rem, top -35rem right 50rem;
  background-repeat: no-repeat;
  background-size: 75rem, 130rem;
  width: 100%;
}

.desktop .box {
  position: absolute;
  width: 31rem;
  height: 31rem;
  margin-top: 28rem;
  margin-left: -15rem;
  animation: boxClose 250ms;
}

#q1:checked ~ .image_holder .desktop .box,
#q2:checked ~ .image_holder .desktop .box,
#q3:checked ~ .image_holder .desktop .box,
#q4:checked ~ .image_holder .desktop .box,
#q5:checked ~ .image_holder .desktop .box {
  margin-left: -22rem;
  animation: boxOpen 350ms;
}

@keyframes boxOpen {
  0% {
    margin-left: -15rem;
  }
  25% {
    margin-left: -17rem;
  }
  50% {
    margin-left: -19rem;
  }
  75% {
    margin-left: -21rem;
  }
  100% {
    margin-left: -22rem;
  }
}

@keyframes boxClose {
  0% {
    margin-left: -22rem;
  }
  25% {
    margin-left: -21rem;
  }
  50% {
    margin-left: -19rem;
  }
  75% {
    margin-left: -17rem;
  }
  100% {
    margin-left: -15rem;
  }
}

.faq_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  height: auto;
  margin-right: 12rem;
  font-size: 2.5rem;
}

.faq_title {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.accordion {
  padding: 2rem;
  border-bottom: 0.1rem solid var(--light-grayish-blue);
}

.question_container {
  display: flex;
  justify-content: space-between;
}

.question {
  margin-bottom: 0.5rem;
}

.icon_arrow {
  height: 2rem;
  width: 2rem;
}
